{% extends 'layout.html'%}

{% from 'helpers/_forms.html' import render_field %}
{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top nav-tabs ">
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" type="submit" data-toggle="tab" type="tabs" href="{{ url_for('page.consumo') }}" role="tab" aria-controls="home" aria-selected="true">Consumo</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Cargar</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="messages-tab" data-toggle="tab" href="#messages" role="tab" aria-controls="messages" aria-selected="false">Registrar</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">Logout</a>
  </li>
</ul>
</nav>
<div class="tab-content">
  <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
    dsfdsf
  </div>
  <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    {% block cargar%}
    {% endblock %}
  </div>
  <div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab">
    {% block registrar%}
    {% endblock %}
  </div>
  <div class="tab-pane" id="settings" role="tabpanel" aria-labelledby="settings-tab">
    {% block logout%}
    {% endblock %}
  </div>
</div>

<script>
$('#home-tab').click(function(){
console.log("click");
});
</script>

{% endblock %}
