{% extends "sesion.html" %}

{% block container %}
<style>
    body{color: #000;overflow-x: hidden;height: 100%;background-repeat: no-repeat;background-size: 100% 100%}.card{padding: 30px 40px;margin-top: 60px;margin-bottom: 60px;border: none !important;box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2)}.blue-text{color: #00BCD4}.form-control-label{margin-bottom: 0}input, textarea, button{padding: 8px 15px;border-radius: 5px !important;margin: 5px 0px;box-sizing: border-box;border: 1px solid #ccc;font-size: 18px !important;font-weight: 300}input:focus, textarea:focus{-moz-box-shadow: none !important;-webkit-box-shadow: none !important;box-shadow: none !important;border: 1px solid #00BCD4;outline-width: 0;font-weight: 400}.btn-block{text-transform: uppercase;font-size: 15px !important;font-weight: 400;height: 43px;cursor: pointer}.btn-block:hover{color: #fff !important}button:focus{-moz-box-shadow: none !important;-webkit-box-shadow: none !important;box-shadow: none !important;outline-width: 0}
</style>

<div class="container-fluid px-1 py-5 mx-auto">
    <div class="row d-flex justify-content-center">
        <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
            <h3>Insumos</h3>
            <p class="blue-text">Declare el material utilizado en el laborio<br></p>
            <div class="">

                <h5 class="text-center mb-4">Formulario</h5>
                <form meth  od="POST" class="form-card" action="{{url_for('page.Consumos')}}" name="consumo">

                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"\>

                    <div class="row justify-content-between text-left">
                        <datalist id="articles">
                            <option value="filtro">Filtro</option>
                            <option value="ws2">Ethanol</option>
                            <option value="colectores">Colectores</option>
                            <option value="ependrorf05">Ependrorf 0,5mL</option>
                            <option value="ependrorf02">Ependrorf 0,2mL</option>
                            <option value="ependrorf2">Ependrorf 2mL</option>
                            <option value="puntas10">Punta 10</option>
                            <option value="puntas1000">Punta 1000</option>
                            <option value="amplificacion">Reactivo 96</option>
                            <option value="ws1"> WS 1</option>
                            <option value="ssb"> SSB</option>
                            <option value="hisopos"> Hisopo</option>
                            <option value="amplificacion24"> Reactivo 24</option>
                        </datalist>
                        <table class="table table-hover">
                            <thead>
                                <th> Articulo</th>
                                <th> cantidad</th>
                                <th> Observacion</th>
                            </thead>
                            <tbody>

                                <tr>
                                    <td><input list="articles" type="text" maxlength="50"></td>
                                    <td><input type="number" min="0"></td>
                                    <td><input type="text" maxlength="100"></td>
                                </tr>
                            
                            </tbody>
                        </table>
                    </div>

                    <div class="row justify-content-end">
                        <div class="form-group col-sm-6"> <button type="submit" class="btn-block btn-primary" name="Bconsumo">Consumo de Insumos</button> </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}