{% extends 'consumo.html' %}

{% block tabla %}
<div class="container-fluid px-1 py-1 mx-auto">
    <div class="row d-flex justify-content-center">
        <div class="col-xl-10 col-lg-8 col-md-9 col-11 text-center">
            <div class="card  ">
                <div class="container-fluid px-1 py-4 mx-auto">
                    <table id="data" class="table table-striped">
                        <thead>
                            <tr>
                                <th>Articulo</th>
                                <th>Cantidad Inicial</th>
                                <th>Cantidad Consumida</th>
                                <th>Cantidad Final</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for array in consulta  %}
                            <tr>
                                {% for subArray in array %}
                                <td>{{ subArray }}</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}