{% extends 'layout.html'%}
{% block navbar %}
<nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm">

    <div class="container">

        <div class="flex justify-center pt-8 sm:justify-start sm:pt-0">
          <a class="navbar-brand" href="https://pasedesalud.casalab.com.ve">
          <img width="100px" src="https://pasedesalud.casalab.com.ve/images/logo_casalab_grande.png" alt="PaseDeSalud">
          </a>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Activar navegación">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <!-- Left Side Of Navbar -->
            <ul class="navbar-nav mr-auto"></ul>

            <!-- Right Side Of Navbar -->
            <ul class="navbar-nav ml-auto">
                <!-- Authentication Links -->

                <li class="nav-item"><a class="nav-link" href="https://pasedesalud.casalab.com.ve/login">Iniciar sesión</a></li>

                <li class="nav-item"><a class="nav-link" href="https://pasedesalud.casalab.com.ve/register">Registrarse</a></li>
                                                                    <li class="nav-item">
                  <div class="nav-link">

                </li>
            </ul>
        </div>
    </div>
</nav>

{%endblock%}